/* The console container element */
body { background-color: #000b00; font-size: 16px; font-family: Courier; overflow: hidden; padding: 0 0 0 0;}

#console {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color:#000b00;
}

.parents {
    font-weight: bold;
}

/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: #F39800;
}
/* The command history */
.jqconsole-old-prompt {
    color: #ffffd9;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #ffffd9;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #ffffd9;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: #89c3eb;
}
.jqconsole-return, .jqconsole-header {
    color: #f0908d;
}
.jqconsole-error {
    color: #d9333f;
}
