body {
    color: #ffffd9;
    background-color: #000b00;
    margin: 0px;
    height: auto;
    padding: auto;
}

header {
    width: 100%;
    height: 80px;
    text-align: left;
    background-image: url("./img/biofermin2-symbol.svg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0px;
    position: fixed;
    padding-top: 0px;
    z-index: 1;
  color: #ffffd9;
  background-color: #000b00;
}
iframe {
  border: none;
  width: 100%;
  padding-top: 85px;
  padding-left: 0px;
  height: 600px;
  background-color: #000b00;
  align: left;
}

#parentframe {
    padding-bottom: 55px;
    margin-bottom:auto;
  frameborder: none;
  scrolling: none;
}
main {
    padding-top: 80px; 
    padding-bottom: 30px; 
    z-index: 0;
}
footer {
  width: 100%;
  height: 30px; 
  text-align: left;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
    z-index: 1;
  color: #ffffd9;
  background-color: #000b00;
}

.builtin {
    /* font-lock-builtin-face */
    color: #68be8d;
}
.comment {
    /* font-lock-comment-face */
    color: #f0908d;
}
.keyword {
    /* font-lock-keyword-face */
    color: #f39800;
}
.org-block {
    /* org-block */
    color: #b3b3b3;
}
.org-block-begin-line {
    /* org-block-begin-line */
    color: #f0908d;
}
.org-block-end-line {
    /* org-block-end-line */
    color: #f0908d;
}
.org-document-info-keyword {
    /* org-document-info-keyword */
    color: #b3b3b3;
}
.org-document-title {
    /* org-document-title */
    color: #afeeee;
    font-weight: bold;
}
.org-link {
    /* org-link */
    color: #00ffff;
    text-decoration: underline;
}
.rainbow-delimiters-depth-1 {
    /* rainbow-delimiters-depth-1-face */
    color: #ec6d71;
}
.rainbow-delimiters-depth-2 {
    /* rainbow-delimiters-depth-2-face */
    color: #f6bfbc;
}
.string {
    /* font-lock-string-face */
    color: #89c3eb;
}
.type {
    /* font-lock-type-face */
    color: #cca6bf;
}
.variable-name {
    /* font-lock-variable-name-face */
    color: #c3d825;
}
a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
.comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #f0908d;
}
.org-meta-line {
    /* org-meta-line */
    color: #f0908d;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 { text-transform: none; }
@media screen and (min-width: 481px)　{ } ;pc向け
                                           
@media screen and (max-width: 480px)　{ } ;スマホ向け

/*
(set-face-foreground 'font-lock-comment-face "#f0908d")
          (set-face-foreground 'font-lock-string-face "#89c3eb")
          (set-face-foreground 'font-lock-keyword-face "#f39800")
          (set-face-foreground 'font-lock-function-name-face "#ffd900")
          (set-face-foreground 'font-lock-variable-name-face "#c3d825")
          (set-face-foreground 'font-lock-type-face "#cca6bf")
          (set-face-foreground 'font-lock-warning-face "#d9333f")
          (set-face-foreground 'font-lock-builtin-face "#68be8d")
          (set-face-foreground 'highlight "#f7fcfe")
          (set-face-background 'highlight "#e95295")
          (set-face-foreground 'mode-line "#f7fcfe")
          (set-face-background 'mode-line "#203744")
          (set-face-foreground 'menu "#F6F7F8")
          (set-face-background 'menu "#00081A")
      (set-face-attribute 'line-number nil :background "#1f3134" :foreground "#e7e7eb")
      (set-face-attribute 'line-number-current-line nil :foreground "#E6B422"))
*/
